/*RESET*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: #fffffe;
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
}

.container {
    width: 70%;
    margin: 0 auto;
}

main h1, h2 {
    color: #e4306f;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

main>p {
    text-align: center;
    width: 100%;
    margin-bottom: 2.5rem;
}


.card{
    background-color:black;
    box-shadow: 5px 5px 5px 5px lightgray;
    width: calc((100% / 3) - 1.5rem);
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    color: #fffffe;
}

img {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

a {
    color: #3baddd;
}


.personalname {
    font-weight: bold;
    font-size: 1.2rem;
}

.float-left {
    float: left;
}

.text {
    padding-left: 1rem;
    padding-top: 1rem;
    width: calc(100% - 100px);
}

#specialguest {
    padding-top: 1rem;
}