/*RESET*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: #fffffe;
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
}

.container {
    width: 70%;
    margin: 0 auto;
}

main h1 {
    color: #e4306f;
    text-align: center;
    padding-top: 2rem;
}

main>p {
    text-align: center;
    padding: 2rem;
    width: 100%;
}

section div {
    background-color: black;
    width: calc(100% / 3);
}

div img {
    width: calc(100% / 3);
}